<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .chat-area {
            width: 100vh;
            height: 50vh;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <h2>채팅방</h2>
    <div class="chat-area">
        <ul class="chat-list">
            {% for chat in chats %}
            <li class="chat-item">
                {{username}} : {{ chat }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <form class="chat-form" action="{{ url_for('add_chat') }}" method="POST">
        <span>{{username}} : </span>
        <input type="text" name="chat" placeholder="채팅을 입력하세요" required>
        <button type="submit">전송</button>
    </form>
</body>
</html>